#container{
    margin: 0px auto;
    width: 90%;
    height: 80%;
    overflow: hidden;
    background-color: #C5B4BF;
    margin-top: 73px;
}


#container img{
    height:   400px;
    width: 1000px;
   
    
}
#container h3{
    font-size: 70px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Anton', sans-serif;
    font-family: 'Source Serif Pro', serif;
    color: rgb(41, 18, 27);
    margin-top: 20px;

}
#container ul{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    color: #29274C;
    margin-top: 30px;
    
}


#container section{
    width: 100%;
    float: left;
    margin: 80px auto;
    text-align: center;
    line-height: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    
    height: 590px;
   
}
#container section img{
    
    border-radius: 5%;
    margin-top: 0;
}
#container section li{
    width: 270px;
    text-align: left;
    margin: 0px auto;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Anton', sans-serif;
    font-family: 'Source Serif Pro', serif;
    color: rgb(41, 18, 27);
    list-style-type: square;
    

}
main{
    margin-top: 10px;
}




