#bill {
    width: 40%;
    margin: 80px auto;
    overflow: hidden;
}
#bill legend{
    border: 3px solid #D295BF;
    padding: 5px;

}
#bill fieldset{
    margin: 0px auto;
    font-size: 20px;
    padding: 30px;
    border: 3px solid #7E52A0;
}
#bill fieldset label{
    margin-left: 25px;
}
label,input{
    display: block;
    margin: 6px;
    color: #29274C;
}
input{
    width: 455px;
    height: 25px;
    
}
textarea{
    margin-left: 6px;
    width: 455px;
}

button{
    color: #29274C;
}
