main{
    margin-top: 71px ;
    background-color: #E6BCCD;;
}
#containerOfResult{
    clear: both;
    width: 80%;
    margin: 0px auto;
    padding-top: 50px;
}
#containerOfResult div{
    float: left;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    
}
footer{
    clear: both;
}
#containerOfResult div img{
    height:   300px;
    width: 322px;
}
#containerOfResult div p{
    font-size: 40px;

    margin: 5px auto;

} 
#containerOfResult div button{
    font-size: 30px;
    padding: 10px;
    box-shadow: 12px 10px 7px rgb(226, 70, 8);
}
#containerOfResult div button:hover{
    background-color: red;
}
#containerOfResult span{
    clear: both;
    display: block;
    font-size: 30px;
    margin: 50px auto;
    text-align: center;
    padding-top: 31px;
}
a{
    text-decoration: none;
}
a button{
    display: block;
    clear: both;
    margin: auto;
    font-size: 30px;
    padding: 7px;
    
}
a button:hover{
    background-color: yellowgreen;
}

