@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

 #row1 {
    float: left;
}
 #row3{ 
    clear: both;
    float: left;
}
 #row4{
    clear: both;
    float: left;
}

 #row6{
    clear: both;
    float: left;
}
 #row7 main{
    float: left;
}
 
article{
    margin: auto;
    text-align: center;   
    width: 95%;
}
section{
    padding: 5% 10% 5% 10%;
    display: grid;
}

section img{
    height: 300px;
    width: 400px;
    border: solid 3px orange;
    border-radius: 10%;
}

.font{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    border: solid 3px orange;
}
section p{
    margin-top: 30px;
}
button{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}