#joinus {

    width: 40%;
    margin: 120px auto;
    overflow: hidden;
}
#joinus legend{
    border: 3px solid #D295BF;
    padding: 5px;
    font-family: fantasy;
    color: rgb(65, 22, 50);
    background-color: rgb(255, 219, 243);

}
#joinus fieldset{
    margin: 0px auto;
    font-size: 30px;
    padding: 30px;
    border: 3px solid #7E52A0;
    background-color: rgb(211, 192, 211);
    font-family: monospace;
    font-weight: bolder;


}
#joinus fieldset label{
    margin-left: 25px;
}
label,input{
    display: block;
    margin: 6px;
    color: #29274C;
}
input{
    width: 455px;
    height: 25px;
    
}
textarea{
    margin-left: 6px;
    width: 455px;
}

#submit{
    width: 20%;
    height: 40%;
    margin-left: 40%;
    color: rgb(22, 21, 37);
    background-color: rgba(116, 101, 131, 0.966);
    padding: 10px;
    font-weight: 800;
    font-family: monospace;
    font-size:100%;
  
    }

    #reset{
    width: 20%;
    height: 40%;
    margin-left: 40%;
    color: rgb(22, 21, 37);
    background-color: rgba(116, 101, 131, 0.966);
    padding: 10px;
    font-weight: 800;
    font-family: monospace;
    font-size:90%;
    }

/* //////////////////////////////////////// */

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #7E52A0;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #D295BF;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 13% auto;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup #close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup #close:hover {
    color: red;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  #messageHeader{
    padding-bottom: 20px;
    color: rgb(224, 6, 148);
  }
  