#cart{
    display: block;
    width: 100px;
    margin: 5px auto;
    transition: all .7s ease-in-out;
    animation: cart 3s ease-in-out infinite;
    clear: both;
    
}
@keyframes cart {
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(.8);
    }
}
main{
    margin-top: 170px ;
    background-color: rgb(255, 219, 243);
}

#container{
    clear: both;
    width: 80%;
    margin: auto;
    background-color: rgb(255, 219, 243);   
}

#container div{
    float: left;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    background-color: rgb(197, 180, 191);
    padding: 2% 0 2%;
}

footer{
    clear: both;
}
#container div img{
    height:   300px;
    width: 322px;
    border: solid 5px rgb(65, 22, 50);
    border-radius: 3%;
}
#container div p{
    /* background-color: rgb(70, 47, 62); */
    color: rgb(63, 26, 51);
    font-size:40px;
    margin: 5px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;

} 
#container div button{
    font-size: 30px;
    padding: 10px;
    color: rgb(136, 62, 110);
    background-color: lavender;
    /* box-shadow: 5px 5px 5px 5px rgb(122, 82, 108); */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container div button:hover{
  background-color: rgb(207, 154, 189);
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {opacity: 1}


