#joinus {

    width: 40%;
    margin: 120px auto;
    overflow: hidden;
}
#joinus legend{
    border: 3px solid #D295BF;
    padding: 5px;

}
#joinus fieldset{
    margin: 0px auto;
    font-size: 20px;
    padding: 30px;
    border: 3px solid #7E52A0;
    background-color: rgb(211, 192, 211) ;

}
#joinus fieldset label{
    margin-left: 25px;
}
label,input{
    display: block;
    margin: 6px;
    color: #29274C;
}
input{
    width: 455px;
    height: 25px;
    
}
textarea{
    margin-left: 6px;
    width: 455px;
}

#submit{
    width: 20%;
    height: 40%;
    margin-left: 40%;
    color: rgb(22, 21, 37);
    background-color: rgba(116, 101, 131, 0.966);
    padding: 10px;
    font-weight: 800;
    }

    #reset{
    width: 20%;
    height: 40%;
    margin-left: 40%;
    color: rgb(22, 21, 37);
    background-color: rgba(116, 101, 131, 0.966);
    padding: 10px;
    font-weight: 800;

    }