/* body{
    overflow: hidden;
} */
header{
    height: 400px;
    /* margin: -20px auto; */
    display: block;
   
}
#titleheader{
    background-image: url('https://wallpaperplay.com/walls/full/2/c/4/86927.jpg');
    background-position-y: 70%;
    background-position-x: 15%;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
}

header h1{
    font-size: 40px;
    color:#29274C;
    text-align: center;
/* padding-top: 7%; */
/* padding-right: 30%; */
/* margin: 0px auto; */
font-weight: bold;
font-size: 43px;
    padding-top: 8%;
    padding-right: 31%;

}
/* h1 p{
    background-color: #7E52A0;
    opacity: .3;
    padding: 0px 0px 0px 0px;
} */
nav{
    background-color: #D295BF;
    /* clear: both; */
   
}
nav ul{
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: 0 4%;
    padding: 20px;
}
nav ul li:hover{
    background-color:#7E52A0;
}
nav ul li a{
    font-size:30px;
    text-decoration: none;
    color: #29274C;;
    font-weight: bold;
 
}
main{
    display: block;
 margin: 30px auto;
}

footer{
    min-height: 150px;
    background-color:#D295BF;
   padding: 0px;
    width: 100%;
}
footer ul{
    margin: 0px auto;
    text-align: center;
}
footer ul li{
    display: inline-block;
    
    padding: 20px;
    
}
footer ul li a{
    border-radius: 10%;
    padding: 20px 26px;
    font-weight: 800;
    font-size: 35px;
    text-decoration: none;
}
footer ul li a img{
    width: 80px;
}
footer ul li a:hover{
    opacity: .6;
}
footer p{
    text-align: center;
    padding: 15px;
    font-size: 16px;
    color: #29274C;
    font-weight: bold;
}
img{
    width: 200px;
}
body{
    background-color: #E6BCCD;
}