/* body{
    overflow: hidden;
} */
body{
    background-color: rgb(255, 219, 243);
}
header{
    height: 400px;
    /* margin: -20px auto; */
    display: block;
}
#titleheader{
    background-image: url('../img/important-img/home.jpg');
    background-position-y: 70%;
    background-position-x: 15%;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    opacity: .75;
}

/* header h1{
    font-size: 40px;
    color:#29274C;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding-top: 8%;
    padding-right: 31%;
    font-family: 'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 1000;
} */
header img{
  margin-top:0;
    padding-left:33%;
   
}
nav{
    background-color: rgb(65, 22, 50);
    /* overflow: hidden;
    width: 100%;
    position: fixed; */
    /* top: 0; */
}
nav ul{
    text-align: center;
}
nav ul li:hover{
    background-color:#7E52A0;
}

nav ul li a{
    font-size:30px;
    text-decoration: none;
    color: #E6BCCD;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Anton', sans-serif;
    font-family: 'Source Serif Pro', serif;
}
nav ul li a:hover{
    color: #29274C;
}
nav ul .dropdown{
    display: inline-block;
    margin: 0 2%;
    padding: 20px;
    vertical-align: top;
    border: 0.3em gold;
    border-radius: 0.5em;
}
nav ul .dropdown:hover{
    background-color: gold;
}
nav ul .dropdown a{
    font-size:30px;
    text-decoration: none;
    color: #E6BCCD;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Source Serif Pro', serif;
}

/* ///////////////////////////////////////////// */
nav ul li{
    display: inline-block;
    margin: 0 2%;
    padding: 20px;
    
    /* /////////////////////////////////////////// */
    color: gold;
    border: 0.3em gold;
    border-radius: 0.5em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}

nav ul li span {
    position: absolute;
    width: 35%;
    height: 100%;
    background-color: gold;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}


nav ul li:hover span {
    transform: translateY(0) scale(3);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}
/* ////////////////////////////////////////////////////////// */

.CategorieDropdown:hover {
    display: inline-block;
    color: #29274C;
  } 
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: rgb(65, 22, 50);
    box-shadow: 5px 10px 10px 5px #7E52A0;
  }
  .dropdownContent a {
    padding: 12px 16px;
    display: block;
    text-align: left;
  }
  .dropdownContent a:hover{
    background-color: #D295BF;
    color: #29274C;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }
  /* /////////////////////////////////////////// */
main{
    display: block;
 margin: 30px auto;
 background-color: rgb(255, 219, 243);

}
footer{
    min-height: 150px;
    background-color:rgb(65, 22, 50);
   padding: 0px;
    width: 100%;
}
footer ul{
    margin: 0px auto;
    text-align: center;
}
footer ul li{
    display: inline-block;
    
    padding: 20px;
    
}
footer ul li a{
    border-radius: 10%;
    padding: 20px 26px;
    font-weight: 800;
    font-size: 35px;
    text-decoration: none;
}
footer ul li a img{
    width: 80px;
}
footer ul li a:hover{
    opacity: .6;
}
footer p{
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: #E6BCCD;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    width: 200px;
}